.questionAsk {
  width: 100%;
  max-width: 1272px;
  height: 70px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); 
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.questionAsk:hover {
  background-color: #f9f9f9;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); 
}

.exactQuestion {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
}

.exactQuestion p {
  font-size: 16px;
  color: #333;
  margin-right: 10px; 
}

.exactQuestion img {
  width: 20px;
  cursor: pointer;
}
