.FAQ {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.question {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.question p {
  font-size: 14px;
  font-weight: 400;
  color: #EB8D15;
}

.question h2 {
  font-weight: 700;
  font-size: 32px;
  color: #3C2109;
}

.AllQuestion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 25px;
}

.show-more {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1C4670;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  width: 148px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}
.btn3 {
  display: flex;
  justify-content: center;
  align-items: center;
}


.arrow-icon {
  width: 16px; /* Adjust size if needed */
  height: auto;
}

