.Logo {
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.Logo p {
  font-size: 22px;
  font-weight: 700;
  height: 27px;
}

/* Responsive adjustments for screens smaller than 768px */
@media (max-width: 768px) {
  .Logo {
    height: auto;
    gap: 20px; 
    padding: 10px;
  }

  .Logo p {
    font-size: 18px; 
    text-align: center;
  }

  .Logo img {
    max-width: 100%;
    height: auto; 
  }
}
